// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
table.tasks {
    width: 600px;
    margin: 0px auto;
    border-collapse: collapse;
    border-spacing: 0;
}

table.tasks tr {
}

table.tasks td {
}

table.tasks col.name {
}

table.tasks col.due_date {
}
// You can use Sass (SCSS) here: http://sass-lang.com/
